<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
<body>
  <header>
    <h1>Travlr</h1>
    <nav>
      <a href="/travel">Trips</a>
    </nav>
    <hr>
  </header>

  {{{body}}}

  <hr>
  <footer>
    <p>© 2025 Travlr. All rights reserved.</p>
  </footer>
</body>
</html>
